{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuários</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/usuarios.css' %}">
</head>
<body>
    <div class="container">
        <table>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Senha</th>
            </tr>
            {% for usuario in usuarios %}
            <tr>
                <td>{{usuario.id_usuario}}</td>
                <td>{{usuario.nome}}</td>
                <td>{{usuario.email}}</td>
                <td>{{usuario.senha}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>